.main {
    margin: 0 auto;
    width: 90%;
    max-width: 1360px;
    padding: 30px 0;
}

.body,
.body > div,
.main aside {
    gap: 30px;
}

.body {
    display: grid;
}

.body > div,
.main aside {
    display: flex;
    flex-direction: column;
}

.main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile {
    width: 25px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
    cursor: pointer;
}

.main button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
    cursor: pointer;
}

.main button:hover {
    background-color: var(--accent-color);
}

.main button > p:first-of-type {
    font-weight: bold;
}

.main button,
#homeTable {
    font-size: 0.875rem;
}

#homeTable{
    cursor: pointer;
}

#homeTable,
#homeTable th:nth-child(1) {
    width: 100%;
    border-collapse: collapse;
}

#homeTable th,
#homeTable td {
    padding: 10px 0;
    border-bottom: 0.5px solid gray;
    text-wrap: nowrap;
}

#homeTable th {
    text-align: start;
}

#homeTable th:not(:nth-child(4)),
#homeTable td:not(:nth-child(4)) {
    padding-right: 30px;
}

#transactionCategory {
    display: none;
}

.sectionHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: fit-content;
}

.items,
#homeTable {
    gap: 15px;
    border-top: 0.5px solid gray;
    padding-top: 15px;
}

.actionsItems,
.accountsItems,
.budgetsItems {
    display: flex;
    flex-direction: column;
}

.summaryItems,
.categoryItems {
    display: grid;
}

.categoryItems {
    grid-template-columns: repeat(2, 1fr);
}

.accountsItems button p:not(:first-of-type),
.budgetDescription,
.categoryItems button p:not(:first-of-type) {
    font-size: 0.75rem;
}

.budgetDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 5px;
}

.summaryItems {
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 600px) {
    .body {
        grid-template-columns: 1fr 3fr;
    }

    .categoryItems {
        grid-template-columns: repeat(3, 1fr);
    }

    #transactionCategory {
        display: table-cell;
    }
}

@media only screen and (min-width: 768px) {
    

    .categoryItems {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .summaryItems {
        grid-template-columns: repeat(4, 1fr);
    }

    .categoryItems {
        grid-template-columns: repeat(5, 1fr);
    }
}