.main {
    margin: 0 auto;
    width: 90%;
    max-width: 1360px;
    display: grid;
    gap: 30px;
    padding-top: 20px;
}

.main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
    cursor: pointer;
}

.main button p:first-of-type {
    font-weight: bold;
}

.main button,
.transactions table {
    font-size: 0.875rem;
}

.transactions table {
    min-width: 100%;
}

.transactions th {
    text-align: start;
}

.main aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sectionHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: fit-content;
}

.accountsItems,
.budgetsItems,
.summaryItems,
.bucketItems,
.transactions table {
    gap: 15px;
    border-top: 0.5px solid gray;
    padding-top: 15px;
}

.accountsItems,
.budgetsItems {
    display: flex;
    flex-direction: column;
}

.summaryItems,
.bucketItems {
    display: grid;
}

.bucketItems {
    grid-template-columns: repeat(2, 1fr);
}

.accountsItems button p:last-of-type,
.budgetsItems button p:last-of-type,
.bucketItems button p:last-of-type {
    font-size: 0.75rem;
}

@media only screen and (min-width: 600px) {
    .main {
        grid-template-columns: 1fr 3fr;
    }

    .main header {
        grid-column: span 2;
    }

    .main aside {
        grid-row: span 3;
    }

    .bucketItems {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .summaryItems {
        grid-template-columns: repeat(2, 1fr);
    }

    .bucketItems {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .summaryItems {
        grid-template-columns: repeat(4, 1fr);
    }

    .bucketItems {
        grid-template-columns: repeat(5, 1fr);
    }
}