.table th {
    text-align: start;
}

.table th,
.table td {
    padding: 10px 0;
    padding-right: 20px;
    border-bottom: 0.5px solid gray;
}

.table th:last-child,
.table td:last-child {
    padding-right: 0;
}

#redCell {
    color: rgb(220, 70, 70);
    background-color: rgba(220, 70, 70, 0.15);
    text-align: center;
}

#greenCell {
    color: rgb(0, 190, 40);
    background-color: rgba(0, 190, 40, 0.15);
    text-align: center;
}

#category {
    display: none;
}

#editButton {
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
}

#editButton:hover {
    color: var(--secondary-text-color);
}

.editTransactions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.editTransactions h3 {
    padding: 10px;
    color: rgb(70, 125, 220);
    background-color: rgba(70, 125, 220, 0.15);
    border-left: 2px solid rgb(80, 125, 220);
    border-radius: 2px;
}

.transactionDetails {
    display: grid;
    gap: 15px;
}

.transactionBtns {
    display: flex;
    justify-content: space-between;
}

.transactionBtns div {
    display: flex;
    gap: 7.5px;
}

#cancel {
    background-color: var(--cancel-color);
}

#cancel:hover {
    background-color: var(--cancel-color-bold);
}

#save {
    background-color: var(--save-color);
    color: white;
}

#save:hover {
    background-color: var(--save-color-bold);
}

#delete {
    background-color: var(--delete-color);
    color: white;
}

#delete:hover {
    background-color: var(--delete-color-bold);
}

@media only screen and (min-width: 600px) {
    #category {
        display: table-cell;
    }

    .transactionDetails {
        grid-template-columns: repeat(2, 1fr);
    }
}