.modal {
    padding: 20px;
    width: 80%;
    max-height: 70%;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
    font-size: 0.875rem;
}

.modal::backdrop {
    background-color: black;
    opacity: 0.6;
}

.action {
    max-width: 280px;
}

.details {
    max-width: 560px;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal input:focus {
    outline: none;
}

.modal input[type="text"],
.modal input[type="number"],
.modal input[type="datetime-local"],
.modal select {
    border: none;
    border-bottom: 1px solid var(--secondary-text-color);
    font-size: 0.875rem;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.modal select {
    cursor: pointer;
}

.modal input[type="submit"] {
    border: none;
    background-color: var(--submit-color);
    color: var(--submit-text-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.modal input::placeholder {
    color: var(--secondary-text-color);
}

.modal input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color-scheme: var(--date-input-color);
}

.modalHeader,
.modalHeaderButtons,
.modalSaveCancel {
    display: flex;
    align-items: center;
}

.modalHeader {
    justify-content: space-between;
    padding: 10px 20px;
    margin: -20px;
    margin-bottom: 0px;
    border-bottom: 0.5px solid gray;
}

.modalHeaderButtons {
    gap: 10px;
    font-size: 1rem;
}

.modalSaveCancel {
    font-size: 0.625rem;
    padding: 2px;
    border: 0.5px solid gray;
    border-radius: 20px;
}

.modalSaveCancel p {
    padding: 2px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.modalSaveCancel.cancel {
    background-color: var(--accent-color);
}

#saveEdit {
    background-color: var(--primary-color);
    color: white;
}

#cancelEdit {
    color: var(--secondary-text-color);
}

#deleteModal {
    font-size: 0.75rem;
    color: var(--delete-color);
}

#deleteModal:hover {
    color: var(--delete-color-bold);
    cursor: pointer;
}

.modal fieldset {
    border: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.modal fieldset input {
    cursor: pointer;
    background-color: var(--secondary-color);
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid gray;
    border-radius: 50%;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.modal fieldset input:checked {
    border: 6px solid var(--primary-text-color);
}

.detailsInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0.5px solid var(--secondary-text-color);
    width: fit-content; 
    border-radius: 10px;
    padding: 5px;
}

.detailsInfo #label {
    margin-left: 5px;
}

.detailsInfo #data {
    width: fit-content;
    border: 0.5px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--accent-color);
}

.budgetCategories {
    display: flex;
    justify-content: center;
}

.budget {
    display: grid;
    gap: 15px;
}

.budgetDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.budgetDetails > *,
.budgetDonut {
    text-align: center;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
}

.budgetDonut {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.budgetDonut > div:first-of-type {
    min-width: 90px;
    min-height: 90px;
    display: flex;
    justify-content: center;
}

.budgetLegend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.75rem;
}

.budgetLegend div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.budgetLegend span {
    width: 10px;
    height: 10px;
}

#remaining span {
    background-color: var(--primary-color);
}

#spent span {
    background-color: black;
}

#headerIcon {
    border-radius: 20px;
    padding: 5px;
    width: auto;
    height: auto;
    margin: -5px;
}

#headerIcon:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .budget {
        grid-template-columns: 1fr 1fr;
    }
}