.modal {
    padding: 20px;
    width: 70%;
    max-width: 280px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal input:focus {
    outline: none;
}

.modal input,
.modal select {
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.875rem;
}

.modal input[type="submit"] {
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.modal input::placeholder {
    color: gray;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalHeader > *:last-child {
    cursor: pointer;
}

.modal fieldset {
    border: none;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 0.875rem;
}

.modal fieldset input {
    cursor: pointer;
    background-color: white;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid gray;
    border-radius: 50%;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.modal fieldset input:checked {
    border: 6px solid black;
}