.modal {
    padding: 20px;
    width: 70%;
    max-height: 70%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px 0px;
    font-size: 0.875rem;
}

.action {
    max-width: 280px;
}

.details {
    max-width: 560px;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal input:focus {
    outline: none;
}

.modal input,
.modal select {
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.875rem;
}

.modal select {
    cursor: pointer;
}

.modal input[type="submit"] {
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.modal input::placeholder {
    color: gray;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: bolder;
    padding: 10px 20px;
    margin: -20px;
    margin-bottom: 0px;
    border-bottom: 0.5px solid gray;
}

.modalHeader div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modalHeader div > * {
    cursor: pointer;
}

.modal fieldset {
    border: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.modal fieldset input {
    cursor: pointer;
    background-color: white;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid gray;
    border-radius: 50%;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.modal fieldset input:checked {
    border: 6px solid black;
}

.budgetCategories {
    display: flex;
    justify-content: center;
}

.budget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.budgetDetails input[type="number"],
.budgetDetails select {
    background-color: whitesmoke;
}

.budgetDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.budgetDetails > *,
.budgetDonut {
    text-align: center;
    background-color: whitesmoke;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
}

.budgetDonut {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.budgetDonut > div:first-of-type {
    min-width: 90px;
    min-height: 90px;
    display: flex;
    justify-content: center;
}

.budgetLegend {
    display: none;
}

.budgetLegend div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.budgetLegend span {
    width: 10px;
    height: 10px;
}

#remaining span {
    background-color: #6C63FF;
}

#spent span {
    background-color: black;
}

#headerIcon {
    border-radius: 20px;
    padding: 5px;
    width: auto;
    height: auto;
    margin: -5px;
}

#headerIcon:hover {
    background-color: whitesmoke;
}

@media only screen and (min-width: 600px) {
    .budgetLegend {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 0.75rem;
    }
}