@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
  --primary-color: #6C63FF;
}

#light {
  --secondary-color: white;
  --accent-color: rgb(244, 246, 251);
  /* --accent-color: whitesmoke; */
  --background-color: white;
  --primary-text-color: black;
  --secondary-text-color: gray;
  --delete-color: rgb(255, 90, 90);
  --delete-color-bold: rgb(255, 70, 70);
  --cancel-color: white;
  --cancel-color-bold: whitesmoke;
  --save-color:rgb(80, 135, 230);
  --save-color-bold: rgb(70, 125, 220);
  --submit-color: black;
  --submit-text-color: white;
}

#dark {
  --secondary-color: rgb(35, 35, 35);
  --accent-color: rgb(45, 45, 45);
  --background-color: rgb(20, 20, 20);
  --primary-text-color: rgb(220, 220, 220);
  --secondary-text-color: gray;
  --delete-color: rgb(220, 70, 70);
  --delete-color-bold: rgb(220, 80, 80);
  --cancel-color: rgb(45, 45, 45);
  --cancel-color-bold: rgb(55, 55, 55);
  --save-color: rgb(70, 125, 220);
  --save-color-bold: rgb(80, 135, 230);
  --submit-color: gray;
  --submit-text-color: black;
  --date-input-color: dark;
}

body:has(.mainBkgDark) {
  background-color: rgb(20, 20, 20);
}

body {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3 {
  margin: 0;
}

table {
  border-collapse: collapse;
  text-wrap: nowrap;
}