.deleteDialog {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.deleteDialog button {
    text-align: center;
}

.deleteCancelButtons {
    display: flex;
    gap: 15px;
}

.deleteCancelButtons button {
    width: 100%;
}

.deleteInfo {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

#delete {
    background-color: rgb(var(--delete-color));
    color: white;
}

#delete:hover {
    background-color: var(--delete-color-bold);
}

#cancel {
    background-color: var(--cancel-color);
}

#cancel:hover {
    background-color: var(--cancel-color-bold);
}

#warning {
    padding: 10px;
    color: rgb(var(--delete-color));
    background-color: rgba(var(--delete-color), 0.15);
    border-left: 2px solid rgb(var(--delete-color));
    border-radius: 2px;
}