.home header,
.hero,
.features > div,
.faq,
.home footer > div {
    margin: 0 auto;
    width: 90%;
    max-width: 1360px;
}

.home section, 
.home footer {
    padding: 40px 0;
}

.home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.home nav > * {
    cursor: pointer;
}

.rightLinks {
    display: none;
}

#link {
    padding: 0;
    border: none;
    font-size: 1rem;
    background-color: white;
}

.mobile {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.menuIcon {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.dropDown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 35px;
    right: 96px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.home h1 {
    font-size: 2rem;
}

#login {
    align-self: flex-start;
    background-color: #6C63FF;
    border: none;
    border: 2px solid black;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    box-shadow: black 4px 4px 0 0;
    cursor: pointer;
}

#login:active {
    box-shadow: black 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.hero #login {
    padding: 10px 50px;
    display: none;
}

.hero {
    display: grid;
    align-items: center;
    gap: 40px;
}

.hero div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero img {
    width: 100%;
}

.features,
.home footer {
    background-color: whitesmoke;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.featuresContent {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.featuresContent div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

.featuresContent img {
    width: 60px;
}

.featuresContent span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.features span > *:first-child {
    background-color: #6C63FF;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
}

.faqQuestion {
    border-top: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.faqQuestion div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqQuestion:last-of-type {
    border-bottom: 2px solid black;
}

@media only screen and (min-width: 600px) {
    .mobile #login {
        display: none;
    }

    .rightLinks {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .menuIcon,
    .dropDown {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        grid-template-columns: 1fr 1fr;
        /* height: 80vh; */
    }

    .hero #login {
        display: block;
    }

    .features {
        gap: 40px;
    }

    .features h2 {
        font-size: 1.7rem;
    }

    .featuresContent {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home section, 
    .home footer {
        padding: 80px 0;
    }
}

@media only screen and (min-width: 992px) {
    .home h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .home h1 {
        font-size: 3rem;
    }

    .hero div {
        gap: 40px;
    }
}
