.home header,
.hero,
.features > div,
.faq,
.home footer > div {
    margin: 0 auto;
    width: 90%;
    max-width: 1360px;
}

.home section, 
.home footer {
    padding: 40px 0;
}

.home h1 {
    font-size: 2rem;
}

#login {
    align-self: flex-start;
    background-color: #6C63FF;
    border: none;
    border: 2px solid black;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    box-shadow: black 4px 4px 0 0;
    cursor: pointer;
}

#login:active {
    box-shadow: black 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* ----- Header ----- */

.home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.home nav > * {
    cursor: pointer;
}

.rightLinks {
    display: none;
}

#link {
    padding: 0;
    border: none;
    font-size: 1rem;
    background-color: white;
}

.mobile {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.menuIcon {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.dropDown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 35px;
    right: 96px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

/* ----- Hero ----- */

.hero #login {
    padding: 10px 50px;
    display: none;
}

.hero {
    display: grid;
    align-items: center;
    gap: 40px;
}

.hero div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero img {
    width: 100%;
}

/* ----- Features ----- */

.features,
.home footer {
    background-color: whitesmoke;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.featuresContent {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.featuresContent div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

.featuresContent img {
    width: 60px;
}

.featuresContent span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.features span > *:first-child {
    background-color: #6C63FF;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
}

/* ----- FAQ ----- */

.faqQuestion {
    border-top: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.faqQuestion div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqQuestion:last-of-type {
    border-bottom: 2px solid black;
}

#upButton {
    position: fixed;
    right: 20px;
    bottom: 0;
    padding: 5px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 40px;
    height: auto;
    background-color: #6C63FF;
    color: white;
    cursor: pointer;
}

/* ----- Login ----- */

.login form,
.login label {
    display: flex;
    flex-direction: column;
}

.login {
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 300px;
    width: 80%;
}

#google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#signIn {
    background-color: #6C63FF;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    /* box-shadow: black 4px 4px 0 0; */
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

/* #signIn:active {
    box-shadow: black 2px 2px 0 0;
    transform: translate(2px, 2px);
} */

#divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
}

#divider span {
    background-color: gray;
    width: 100%;
    height: 1px;
}

#divider,
#signUp {
    color: gray;
    font-size: 0.75rem;
}

#signUp {
    text-align: center;
}

.login form {
    width: 100%;
    gap: 10px;
}

.login label {
    gap: 5px;
}

.login input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}

.login a {
    font-size: 0.75rem;
}

#loginClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .mobile #login {
        display: none;
    }

    .rightLinks {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .menuIcon,
    .dropDown {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        grid-template-columns: 1fr 1fr;
        /* height: 80vh; */
    }

    .hero #login {
        display: block;
    }

    .features {
        gap: 40px;
    }

    .features h2 {
        font-size: 1.7rem;
    }

    .featuresContent {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home section, 
    .home footer {
        padding: 80px 0;
    }
}

@media only screen and (min-width: 992px) {
    .home h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .home h1 {
        font-size: 3rem;
    }

    .hero div {
        gap: 40px;
    }
}
